<div class="container">
  <h1 class="title">Chatrooms</h1>

  <ul *ngIf="chatrooms && chatrooms.length; else noChatrooms" class="chatroom-list">
    <li *ngFor="let chatroom of chatrooms">
    <a [routerLink]="['/chatrooms/', chatroom.id]" class="chatroom-item">  
      <p class="chatroom-text">Owner ID: {{ chatroom.owner_id }}</p>  
      <p class="chatroom-text">Partner ID: {{ chatroom.partner_id }}</p>  
      <p class="chatroom-text">Title: {{ chatroom.title }}</p>
    </a>
    </li>
  </ul>

  <ng-template #noChatrooms>
    <p>No chatrooms available.</p>
  </ng-template>

  <div>
    <a (click)="loadChatrooms()" ></a>
    <a routerLink="/chatrooms/new" class="create-button" class="button">Create Chatroom</a>
  </div>
</div>